{% extends 'base.html' %}

{% block content %}

    <div>
        {% for class in gym_classes %}

            <div>
                <h1><a href="/class/{{ class.id }}">{{ class.title }}</a></h1>
                <h2>{{ class.instructor }}</h2>
                <p>{{ class.description }}</p>
                <h3>{{ class.class_date }}</h3>
            </div>

            <div>
                <form action="/edit_class/{{ class.id}}" method="get">
                <label for="edit_class"></label>
                <input type="submit" name="edit_class" id="edit_class" value="Edit Class">
                </form>
            </div>

            <div>
                <form action="/delete_class/{{ class.id }}" method="POST">
                <label for="delete"></label>
                <input type="submit" name="delete" id="delete" value="Delete Class">
                </form>
            </div>

        {% endfor %}

        <div>
            <form action="/add_new_class" method="get">
            <label for="add_new"></label>
            <input type="submit" name="add_new" id="add_new" value="Create New Class">
            </form>
        </div>

    </div>

{% endblock content %}