{% extends 'base.html' %}

{% block content %}
    <section>

        <form action="/members" method="POST">

            <div>
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" id="first_name" placeholder="Enter First Name" required autofocus>
            </div>

            <div>
                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" id="last_name" placeholder="Enter Last Name" required>
            </div>

            <div>
                <label for="membership">Membership:</label>
                <select name="membership" id="membership">
                    <option value="True">True</option>
                    <option value="False">Flase</option>
                </select>
            </div>

            <div>
                <label for="submit"></label>
                <input type="submit" name="submit" id="submit">
            </div>

        </form>

    </section>
{% endblock content %}