{% extends 'base.html' %}

{% block content %}
    <section class="width_100 flex_justify_column_center">

            {% for member in members %}
                <div class="index_class text_center class_border" >
                    <a class="member_name" href="/members/{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</a>
                    {% if member.membership == "Gold" %}
                        <h2 style="color: white;">Gold</h2>
                    {% else %}
                        <h2 style="color: white;">Platinum</h2>
                    {% endif %}
    
                    <form action="/delete_member/{{ member.id }}" method = POST>
                        <input class="delete_button" type="submit" name="delete" id="delete" value="Delete Member">
                    </form>
    
                    <form action="/edit_member/{{ member.id }}" method = GET>
                        <input class="edit_button" type="submit" name="edit" id="edit" value="Edit Member">
                    </form>
                </div>

            {% endfor %}

            <div class="follow_bottom_screen">
                <form action="/create_new_member">
                    <input  class="create_button" type="submit" name="new_member" id="new_member" value="Create New Member">
                </form>
            </div>

    </section>

{% endblock content %}