{% extends 'base.html' %}

{% block content %}
    <section>
        <div>
            {% for member in members %}
                <h1> <a href="/members/{{ member.id }}">{{ member.first_name }} {{ member.last_name }}</a></h1>
                <h3>{{ member.membership }}</h3>

                <form action="/delete_member/{{ member.id }}" method = POST>
                    <input type="submit" name="delete" id="delete" value="Delete Member">
                </form>

                <form action="/edit_member/{{ member.id }}" method = GET>
                    <input type="submit" name="edit" id="edit" value="Edit Member">
                </form>

            {% endfor %}

            <form action="/create_new_member">
                <input type="submit" name="new_member" id="new_member" value="Create New Member">
            </form>
        </div>
    </section>

{% endblock content %}