{% extends 'base.html' %}

{% block content %}
    <section class="width_100 flex_justify_column_center">
        {% for class in gym_classes %}

        <div class="index_class text_center class_border">
            <a class="class_title padding_1rem" href="/class/{{ class.id }}">{{ class.title }}</a>
            <h2 class="class_instructor" >{{ class.instructor }}</h2>
            <p class="class_description" >{{ class.description }}</p>
            <h3 class="class_date" >{{ class.class_date }}</h3>
        </div>

        {% endfor %}
    </section>
{% endblock content %}